.form-container{
    text-align: center;
    display: inline block;
    color:white;
    input{
        background-color:white;
    }
}
textarea:focus, input:focus {
    color:black;
}

input, select, textarea{
    color:white;
}

mat-form-field{
    input{
        placeholder{
            color:white;
        }
    }

}
