<<<<<<< HEAD
.example-container {
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  
  .example-container > * {
    width: 100%;
  }
=======
mat-card {
    border-radius: 1em;
    margin-top: .5em;
    margin-bottom: .5em;
    background-color: #D8B08E;
    color: #E4E5E4;
    font-family: 'Montserrat', sans-serif;
}
>>>>>>> 0622602dd6554847ec42785a761c0dff8e8d4571
