.nav{
    background-color: #fcdb55;
}

.example-spacer {
    flex: 1 1 auto;
}

#navbtns{
    margin: 0 1.75em;
}

#toolBar{
    background-color: #f2da3e,
}

#img{
    position: relative ;
    margin-top: 10%
}