img {
    height:6em;
    width: 6em;
    border-radius: 1em;
    margin: 1em;
    float: left;
}

mat-card-title-group {
    margin: 1em;
    width: 33%;
    float: left;
    overflow: hidden;
}

mat-tab-group {
    align-items: center;
}

/deep/ mat-tab-group {
    .mat-tab-body-wrapper {
        width: 80%;
    }
}







// .logo {
//     // display:inline-block;
//     width: 33%;
//     max-width: 190px;
//     background-color: gray;
//    float:left;
    
   
// }

// .right-part {
//     // display:inline-block;
//     width: 100%;
//     max-width: 190px;
//     background-color: gray;
//     float: left;
//     margin-left: 3em;
    
    
   
// }

// .left-part {
//     // display:inline-block;
//     width: 33%;
//     max-width: 190px;
//     background-color: gray;
//     margin-left: 5em;
    
//  float: left;
// }


.logo {
    width: 33%;
    max-width: 190px;
    background-color: gray;
    float:left;
    
   
 }
 
 .right-part {
    width: 33%;
    max-width: 190px;
    background-color: gray;
    float: left;
    margin-left: 3em;
    
    
   
 }
 
 .left-part {
    width: 33%;
    max-width: 190px;
    background-color: gray;
    margin-left: 5em;
    float: left;
 }





