<mat-tab-group>
  <!-- RESTAURANTS TAB INFO -->
  <mat-tab label="Restaurants">
    <mat-card>
      <div class="left-part"> 
        <h1>Photo/name/rating/review count/price</h1>
      </div>

      <div class="right-part">
        <h1>Address/phone #/type</h1>
      </div>
    </mat-card>
  </mat-tab>

  <!-- DISHES TAB INFO -->
  <mat-tab label="Dishes">
    <mat-card>
      <div class="left-part"> 
        <h1>dish name</h1>
        <h1>restaurant name/restaurant basic info</h1>
      </div>

      <div class="right-part">
        <h1>rating/date</h1>
        <h1>description of dish</h1>
        <h1>photo</h1>
      </div>
    </mat-card>
  </mat-tab>
</mat-tab-group>