.restlist{
    background-color: white;
    margin: 5em;
}
h6{
    color:red;
}
#cardc{
 background-color: #d9b08c;
 margin-left: 20em;
 margin-right: 20em;
 font-family: 'Montserrat', sans-serif;
 color: white;
 border-radius: .5em;
 margin-top: .5em;
 margin-bottom: .5em;
 background-color: #D8B08E;
 
}