
 <img class="gif" src="/assets/images/photofunky.gif" />
 
 <h1 class="ml9">
 
         <span class="text-wrapper">
           <span class="letters">What Are You Craving ?</span>
         </span>
       </h1>
      
 <div class="wrap">
        
         <div class="search">
            <input id="search input" type="text" class="searchTerm" placeholder="What Are You Craving?" >
            <button type="submit" class="searchButton"><i class="material-icons">Search</i>
           </button>
         </div>
         <div class="results">
         <div id="hits"></div>
         <div id="pagination"></div>
         </div>
      </div>