@import url(https://fonts.googleapis.com/css?family=Open+Sans);





#hey{
    font-family: 'Six Caps';
    font-size: 150px;
    margin: 0;
    color: white;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    padding-top: 1em;
    
    padding-left: 4.2em;
    clear: both;
    
}

 #allbox{
    background-image: url("../../assets/images/2.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    clear: both;
 }



  body, html {
    height: 100%;
}


.search {
    width: 100%;
    position: relative
  }
  
  .searchTerm {
    float: left;
    width: 100%;
    border: 3px solid rgb(0, 0, 0);
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: rgb(0, 0, 0);
  }
  
  .searchButton {
    position: absolute;  
    right: -50px;
    width: 40px;
    height: 36px;
    border: 1px solid rgb(0, 0, 0);
    background: rgb(0, 0, 0);
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 30%;
    position: absolute;
    padding-top: 3em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }